
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


  body {
    font-family: Hanken Grotesk;
    font-size: 18px;
    margin: 100px;
   position: relative;
  }

 .firstBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 400px;
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    padding: 40px;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
    left: 200px
}


.secondBox {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 400px;
    border:2px solid hsl(0, 0%, 100%);
    border-radius: 0px 25px 25px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    position: absolute;
    right: 300px;
};

.header {
    color: hsl(0, 0%, 100%);
    margin-top: 100px;
}

.number {
    color: hsl(0, 0%, 100%);
    font-size: 4rem;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 150px;
    height:150px;
    border-radius: 50%;
        background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

}

.percent {
    color: hsl(241, 100%, 89%);
}

.header {
  color:  hsl(241, 100%, 89%)
}

.title {
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}
.description {
     color: hsl(241, 100%, 89%);
}
.card {
    display: flex;
    justify-content: center;
}

.reaction {
    display: flex;
}

.titleRight {
color: hsl(224, 30%, 27%);
font-weight:700;
padding-bottom: 20px;
padding-left: 45px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contain {
    display: flex;
    justify-content: space-between;
   padding: 10px;
   font-size: 16px;
  align-items: center;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  margin: 10px;
}

.reaction {
    color: hsl(0, 100%, 67%);
    display: flex;
}
.titleReact {
    background-color: hsl(1, 100%, 97%)
}

.memory {
    color: hsl(39, 100%, 56%);
    display: flex;
}

.titleCard {
    margin-left: 5px;
}

.titleMemo {
    background-color: hsl(58, 100%, 96%)
}


.verbal {
    color: hsl(166, 100%, 37%);
    display: flex;
}

.titleVerb {
    background-color: hsl(122, 100%, 97%)
}

.visual {
    color: hsl(234, 85%, 45%);
    display: flex;
}

.titleVis {
    background-color: hsl(234, 100%, 97%)
}

.button {
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    color: aliceblue;
    text-align: center;
    font-size: 14px;
    background-color: hsl(224, 30%, 27%);
    cursor: pointer;
    margin-top: 20px;
}

.scoreFirst {
    font-size: 14px;
    color: hsl(224, 30%, 27%);
}

.scoreSecond {
    font-size: 14px;
    color: gray;
}

.scoreAdjust {
    display: flex;
}